.itemWrapper {
  width: 10rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  gap: 0.7rem;
}
.itemWrapper:hover {
  background-color: #6366f1;
  box-shadow: 0 0 10px rgba(99, 102, 241, 0.4);
  border-radius: 16px;
}
.side-menu {
  width: 13%;
  margin: 10px;
  height: 100vh;
  border-right: 1px solid #aeb6fb7b;
}
